@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-roboto-slab: var(--font-roboto-slab);
  
  --color-primary: #003CC7;
  --color-primary-hover: #002E9C;
  --color-dark-text: #0E1627;
  --color-dark-blue: #0D2762;
  --color-hero-bg: #ADD4F5;
  --color-stats-bg: #F8F9ED;
  --color-light-blue: #9FC9EB;
}

body {
  background: #ffffff;
  color: var(--color-dark-text);
}
